<title>{{ project }} - SSL certificates</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
<style>
.icon {
  vertical-align: middle;
  display: inline-block;
}
.icon.loading {
  width: 14px;
  height: 14px;
}
.icon.secure {
  width: 16px;
  height: 16px;
  background: no-repeat left center
    url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAchJREFUOI2Fk01PE0EYx//PzLp92W5bEcFw8MCBT6DxhNCDF0JAo8SDkqiBq1/GsyZNvEmM8agSAtZwgA/gwQRjYtpa+up2YXd2ZjwY1p0txf/teZnfPP95IYzRh1pthoPfAABLWgcLCzfr5/VROvH+8DCfH4oXSoZP/FAwTYCTzUnG6BWPgueVSuU02W+lATk/fNP3vaVf3Q4ucd5mjHSj3ZqcnriyWXQKUwDuJvtZMvi492VZiGip2TnWxUL+3sbDtclnaw+uuo57v9FuayGi1U+f9++MBXi+t9HotlDIOduPVlbeneUfry6/dbL53XrnGIOhtznWQrPXdaVUsDm20taCKNwSkVgUIiwn8/Eh9mrF6s7P9XVfX6M5dxdzpQMD8LV3C9+8eThU14szr6vl+cFTA9DdK6kTWaDWcBrXy0dgUAZAaYYfg1lMOXVk2VBfvt1nhgXeZOT2T+DiO9AgANwAMACzOPoblFi8cQygPiH8nYEMRm7WELcj2Aji2DKLEsT0hQBmmdYMAJH+L4Bg1g1AdGpBhab3kQkyEnZGng8AAXr0e5hKDRgDlIK23YDgBuklI1LqHyZ+yox0NVm4aDFjeHkW/wEBoKxseurucwAAAABJRU5ErkJggg==');
}
form {
  margin-bottom: 0;
}
body table {
  font-size: 12px;
}
p.bg-warning {
  padding: 0.7em;
  border-left: 3px solid #8a6d3b;
}
.subtitle {
  color: #777;
  font-style: italic;
  vertical-align: text-bottom;
}
.unused {
  margin-bottom: 10px;
  margin-top: 20px;
}
</style>

{% if anyInProgress %}
  <script>
    setTimeout(function() {window.location.reload();}, 5000);
  </script>
{% endif %}

<div class="container">

<h1>Account</h1>

<table class="table table-condensed table-bordered">
  <tr><th>Account ID</th><td>{{ account.AccountID }}</td></tr>
  <tr><th>Contact email</th><td>{{ account.Email }}</td></tr>
  <tr><th>Date registered</th><td>{{ account.Created|date:"2 January 2006" }}</td></tr>
</table>

<h1>Domains</h1>

<table class="table table-condensed table-hover table-bordered">
  <tr>
    <th>Domain</th>
    <th>Cert ID</th>
    <th>Expiry</th>
    <th>Issuer</th>
    <th></th>
  </tr>

  {% for domain in domains %}
    <tr>
      {% if not domain.Cert %}
        <td>{{ domain.Name }}</td>
        <td colspan="4">No SSL certificate</td>
      {% else %}
        <td><div class="icon secure"></div> {{ domain.Name }}</td>
        <td>{{ domain.Cert.ID }}</td>
        <td>{{ domain.Cert.Expiry|date:"2 January 2006" }}</td>
        <td>{{ domain.Cert.Issuer }}</td>
      {% endif %}
      <td>
        {% if not domain.IsAuthorized %}
          <span class="text-warning">
            Not authorized.
            <a href="https://www.google.com/webmasters/verification/details?hl=en-GB&authuser=0&domain={{ domain.Name }}">
              Webmaster Central</a>
          </span>
        {% elif domain.Operation and not domain.Operation.IsFinished %}
          <img class="icon loading" src="//ssl.gstatic.com/pantheon/images/anim/status-working-28.gif" />
          Working...
        {% else %}
          <form action="/ssl-certificates/create" method="POST">
            <input type="hidden" name="hostname" value="{{ domain.Name }}" />
            <button class="btn btn-primary btn-xs">Get New Certificate</button>
          </form>
        {% endif %}
      </td>
    </tr>
    {% if domain.Operation and domain.Operation.Error != "" and domain.Operation.MappedCertificateID == "" %} 
      <tr class="danger">
        <td colspan="6">{{ domain.Operation.Error }}</td>
      </tr>
    {% endif %}
  {% endfor %}
</table>

{% if anyNotAuthorized %}
<p class="bg-warning">
  Your App Engine default service account needs to be a verified owner of your
  domains to upload new SSL certificates.  Click the Webmaster Central links for
  each domain above and add your default service account to the list of Verified
  Owners: <code>{{ serviceAccount }}</code>
</p>
{% endif %}

{% if unusedCerts %}
  <div class="unused">
    <span class="h1">
      Unused certificates
    </span>
    <span class="subtitle">
      May be in use by other App Engine projects
    </span>
  </div>

  <table class="table table-condensed table-hover table-bordered">
    <tr>
      <th>Display name</th>
      <th>Domains</th>
      <th>Cert ID</th>
      <th>Issue</th>
      <th>Expiry</th>
      <th>Issuer</th>
      <th></th>
    </tr>

    {% for cert in unusedCerts %}
      <tr>
        <td>{{ cert.DisplayName }}</td>
        <td>{{ cert.DomainNames|join:", " }}</td>
        <td>{{ cert.ID }}</td>
        <td>{{ cert.Issue|date:"2 January 2006" }}</td>
        <td>{{ cert.Expiry|date:"2 January 2006" }}</td>
        <td>{{ cert.Issuer }}</td>
        <th>
          <form action="/ssl-certificates/delete" method="POST">
            <input type="hidden" name="id" value="{{ cert.ID }}" />
            <button class="btn btn-danger btn-xs">Delete</button>
          </form>
        </th>
      </tr>
    {% endfor %}
  </table>
{% endif %}

</div>
